.card {
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
  transition: all 0.4s ease;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.015);
}


.card2 {
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #e52121;
  overflow: hidden;
  transition: all 0.4s ease;
  color: #fff;
  cursor: pointer;
}

.card2:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.015);
}
